<div xmlns="http://www.w3.org/1999/xhtml" data-template="templates:surround" data-template-with="templates/page.html" data-template-at="content">
    <div class="row">
        <div class="page-header">
            <h1>Validate against tei_all</h1>
        </div>
        <div class="col-md-6">
            
            <form id="teivalidation" role="form">
                <!--<div class="form-group">
                    <label for="tei-version">TEI version</label>
                    <select name="tei-version" id="tei-version" class="form-control input-sm" data-template="app:tei-schemas">
                        <option value="2.7.0" selected="selected">2.7.0</option>
                        <option value="2.6.0" >2.6.0</option>
                        <!-\-<option data-template="templates:each" data-template-from="tei-schemas" data-template-to="tei-schema">
                            <span data-template="app:schema-option">2.7.0</span>
                        </option>-\->
                    </select>
                    <!-\-<input type="url" id="xml-url"/>-\->
                    <p class="help-block">Select the version of TEI P5</p>
                </div>-->
                <div class="form-group">
                    <label for="xmlFile">XML file</label>
                    <input name="xmlFile" id="xmlFile" type="file"/>
                    <p class="help-block">Upload the XML file you want to validate</p>
                </div>
            </form>
            
            <!-- Placing the button inside the form breaks the upload -->
            <button class="btn btn-primary" id="submit">submit</button>
            
        </div>
        <div id="results" class="col-md-6">
            <h2>Results</h2>
            <ul class="tei-validate list-group">
                <li class="list-group-item header">Trying to validate against <span class="tei-version">%teiversion%</span></li>
                <li class="fragment list-group-item">The file <span class="fileName">%fileName%</span> has the root element <code><span class="rootElement">%rootElement%</span></code>. 
                    For a valid TEI document that needs to be <code>&lt;TEI&gt;</code> or <code>&lt;teiCorpus&gt;</code>.
                    Validation will proceed and treat this file as a fragment of a TEI document.
                </li>
                <li class="externalNS list-group-item">The file <span class="fileName">%fileName%</span> incorporates elements from non-TEI namespaces.
                    Validation will proceed by removing those external namespaces.</li>
                <li class="conformant list-group-item">The file <span class="fileName">%fileName%</span> is valid, hence a TEI <em>conformant</em> document!</li>
                <li class="conformable list-group-item">The file <span class="fileName">%fileName%</span> is valid with the aforementioned restrictions, so we can call it a TEI <em>conformable</em> document!</li>
                <li class="invalid list-group-item">The file <span class="fileName">%fileName%</span> is invalid!</li>
                <li class="list-group-item ajax-spinner"><img src="resources/img/ajaxSpinner.gif" alt="ajaxSpinner"/></li>
            </ul>
            <ul class="odd-validate">
                <li>Some other test</li>
            </ul>
            <!--<ul>
                <li id="tei-validate2.7.0">
                    <span class="valid">Valid against <span class="tei-version">TEI P5 version 2.7.0</span></span>
                    <span class="conformable external-ns">
                        Your file is not valid against <span class="tei-version">TEI P5 version 2.7.0</span> because it incorporates non-TEI namespaces.
                        <br/>Stripping off those external parts makes it valid, though, so we can call it <em>conformable</em>.
                    </span>
                    <span class="invalid"></span>
                </li> 
                <li style="display:none;" id="tei-schema2.6.0">Valid against TEI P5 version 2.6.0</li> 
            </ul>-->
        </div>
        <!--<div data-template="app:validation-results"></div>-->
    </div>
</div>